.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.profile-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info {
  font-size: 20px;
  margin-bottom: 20px;
}

.profile-description {
  font-size: 20px;
  margin-bottom: 20px;
}

.profile-interests {
  font-size: 15px;
  margin-bottom: 20px;
}

.round-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 15px;
  margin-right: 30px;
  margin-left: 30px;
}

.sidebar {
  width: 200px;
  background-color: #f5f5f5;
  padding: 15px;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
}

.chat-container {
  max-width: 800px;
  background-color: #fff;
  padding: 15px;
  margin-top: 30px;
  border: 1px solid #ccc;
}

#chat-box {
  width: 800px;
  height: 800px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

.sender {
  font-weight: bold;
}

.timestamp {
  color: #999;
  font-size: 12px;
}

.content {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}
