{% extends 'base.html' %} {% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <h4>Friends</h4>
                <ul class="list-group" id="friend-list">
                    {% for friend in friends %}
                    <li class="list-group-item" id="{{friend.user_id}}">{{friend['firstname']}} {{friend['lastname']}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="chat-container d-flex flex-column" id="chat-box">
                <h4 id="chat-heading"></h4>
              <ul id="message-list"></ul>
              <form class="input-group mt-auto", id="message-form">
                <input type="text" class="form-control" id="message-input" placeholder="Enter your message:">
                <button type="submit" class="btn btn-primary" id="send-button">Send</button>
              </form>
            </div>
          </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var message_by_friend_id_str = '{{message_by_friend_id_str}}';
        var message_by_friend_id = JSON.parse(message_by_friend_id_str);

        var chatBox = $('#chat-box');
        var messageList = $('#message-list');
        var user_id = "{{ g.user['id'] }}";

        function addMessage(sender, timestamp, content) {
            var message = $('<li>').addClass('message');
            var senderElem = $('<div>').addClass('sender').text(sender);
            var timestampElem = $('<div>').addClass('timestamp').text(timestamp);
            var contentElem = $('<div>').addClass('content').text(content);

            message.append(senderElem, timestampElem, contentElem);
            messageList.append(message);

            chatBox.scrollTop(messageList.height());
        }

        function getFormattedTime(timestamp) {
            var dateObj = new Date(timestamp);
            var year = dateObj.getFullYear();
            var month = ('0' + (dateObj.getMonth() + 1)).slice(-2);
            var day = ('0' + dateObj.getDate()).slice(-2);
            var hours = ('0' + dateObj.getHours()).slice(-2);
            var minutes = ('0' + dateObj.getMinutes()).slice(-2);
            var seconds = ('0' + dateObj.getSeconds()).slice(-2);

            return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        }

        // Friend List
        $('#friend-list li').on('click', function() {
            messageList.empty();
            $('#friend-list li').removeClass('active');
            $(this).addClass('active');
            var friendName = $(this).text();
            $('#chat-heading').text('Chat with ' + friendName);
            var friend_user_id = $(this).attr('id');
            var friend_messages = message_by_friend_id[int(friend_user_id)];
            var sortedMessages = friend_messages.sort(function(a, b) {
                return a.timestamp - b.timestamp;
            });
            sortedMessages.forEach((msg) => {
                senderName = (() => {
                    if(`${msg.sender_id}` != user_id) return friendName;
                    return 'Me';
                })();
                addMessage(senderName, getFormattedTime(msg.send_time), msg.message);
            });
        });

        // set first friend message box to be active
        let firstFriend = $('#friend-list li:first-child')
        firstFriend.addClass('active');
        $('#chat-heading').text('Chat with ' + firstFriend.text());

        var socket = io();

        var messageForm = document.getElementById('message-form');
        var messageInput = document.getElementById('message-input');

        var timestamp = Date.now();

        messageForm.addEventListener('submit', function(event) {
            event.preventDefault();
            var message = messageInput.value;
            var activeFriendUserId = $('#friend-list li.active').attr('id');
            socket.emit('message', {
                sender: user_id,
                receiver: activeFriendUserId,
                message,
                timestamp,
            });
            messageInput.value = '';
        });

        socket.on('reply', function(data) {
            var senderName = data.name;
            var message = data.message;
            var timestamp = data.timestamp;
            addMessage(senderName, getFormattedTime(timestamp), message);
        });
    });
</script>
{% endblock %}
