{% extends 'base.html' %} {% block header %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Friends</h4>
      <ul class="list-group" id="friend-list">
        {% for friend in friends %}
        <form method="post">
            <button
            type="submit"
            class="list-group-item"
            id="{{friend.user_id}}"
            href="{{url_for('room',target=friend.user_id)}}"/>
        </form>
          {{friend['firstname']}} {{friend['lastname']}}
        </button>
        {% endfor %}
      </ul>
    </div>
    <!-- <div class="col-md-9">
      <div class="chat-container d-flex flex-column" id="chat-box">
        <h4 id="chat-heading"></h4>
        <ul id="message-list"></ul>
        <form class="input-group mt-auto" , id="message-form">
          <input
            type="text"
            class="form-control"
            id="message-input"
            placeholder="Enter your message:"
          />
          <button type="submit" class="btn btn-primary" id="send-button">
            Send
          </button>
        </form>
      </div>
    </div> -->
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  src="https://cdn.socket.io/4.6.0/socket.io.min.js"
  integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
  crossorigin="anonymous"
></script>
{% endblock %}
